@media (max-width: 1199px) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 991px) {
    html {
        font-size: 7px;
    }
    .logo {
        height: 70%;
    }
    .header {
        width: 70%;
    }
    .footer {
        width: 90%;
    }
    .pricing {
        width: 80%;
    }
    .grid {
        width: 80%;
    }
    .price-block {
        width: 250px;
    }
}

@media (max-width: 500px) {
    #header {
        display: none;
    }
    .pricing {
        display: flex;
        flex-direction: column;
    }
    .footer {
        margin: 0 auto;
    }
    .video {
        max-width: 100%;
        height: 100%;
    }
}